<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mif.vu.mybatis.dao.BookMapper">
  <resultMap id="BaseResultMap" type="mif.vu.mybatis.model.Book">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <!--ManyToOne -->
    <association property="library" javaType="Library"
                  select="selectBookLibrary" column="LIBRARY_ID"/>
    <!--ManyToMany -->
    <collection property="authors" javaType="ArrayList"
                ofType="Author" column="ID"
                select="selectAuthorsOfBook"/>
  </resultMap>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="mif.vu.mybatis.model.Book" useGeneratedKeys="true">
    insert into PUBLIC.BOOK (TITLE, LIBRARY_ID)
    values (#{title,jdbcType=VARCHAR}, #{libraryId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, TITLE, LIBRARY_ID
    from PUBLIC.BOOK
  </select>
  <select id="selectAuthorsOfBook" resultType="Author">
    SELECT A.ID, A.NAME
    FROM PUBLIC.AUTHOR A
        JOIN PUBLIC.BOOK_AUTHOR BA on A.ID = BA.AUTHOR_ID
    WHERE BA.BOOK_ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectBookLibrary" resultType="Library">
    SELECT ID, NAME, ADDRESS
    FROM PUBLIC.LIBRARY
    WHERE ID = #{libraryId,jdbcType=INTEGER}
  </select>
</mapper>